#div-2{
    height: 175px;
}
@include media-breakpoint-only(sm){
    #num-3{
    }
    #div-2{
        height: 175px;
    }
}
@include media-breakpoint-up(md){
    #num-3,#num-4{
        display:flex;
        align-self: end;
        height: 50%;
    }
    #num-1,#num-2{
        display:flex;
        align-self: start;
        height: 50%;
    }
    #div-2{
        height: 350px;
    }
}